<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--
          **********************************************************************************
          Custom rules
          By Leon Kuijf, WT Media & Events
        -->
        <!-- Redirecting www to non-www -->
        <rule name="Generic force non-WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{C:2}/{R:1}" redirectType="Permanent" appendQueryString="true" />
        </rule>
        <!-- Redirecting http to https -->
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <!-- Hiding WordPress wp-content uploads folder -->
        <rule name="RewriteMediaFolder" stopProcessing="true">
          <match url="^media/(.*)"/>
          <action type="Rewrite" url="_mcfu638b-cms/wp-content/uploads/{R:1}" appendQueryString="true"/>
        </rule>
        <!-- Adding trailing slash to /admin -->
        <rule name="RedirectAdminToTrailingSlash" patternSyntax="ExactMatch">
          <match url="admin"/>
          <action type="Redirect" url="/admin/" redirectType="Permanent"/>
        </rule>
        <!-- Make /admin/ available -->
        <rule name="RewriteLoginPage" stopProcessing="true">
          <match url="^admin/"/>
          <action type="Rewrite" url="_mcfu638b-cms/wp-login.php" appendQueryString="true"/>
        </rule>
        <!-- Bug fix carbon fields plugin -->
        <rule name="bugFixCarbonFields" stopProcessing="true">
          <match url="(.*)_mcfu638b-cms/wp-json/carbon-fields/v1(.*)"/>
          <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/carbon-fields/v1{R:2}" appendQueryString="true"/>
        </rule>
        <!-- Bug fix WooCommerce -->
        <rule name="WCfix1" stopProcessing="true">
          <match url="(.*)wp-json/wc-admin(.*)"/>
          <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wc-admin{R:2}" appendQueryString="true"/>
        </rule>
        <rule name="WCfix2" stopProcessing="true">
          <match url="(.*)wp-json/wc-analytics(.*)"/>
          <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wc-analytics{R:2}" appendQueryString="true"/>
        </rule>
        <rule name="WCfix3" stopProcessing="true">
          <match url="(.*)wp-json/wp/v2/users(.*)"/>
          <action type="Rewrite" url="{R:1}_mcfu638b-cms/index.php/wp-json/wp/v2/users{R:2}" appendQueryString="true"/>
        </rule>
        <!--
  			  **********************************************************************************
		    -->
				<rule name="WP rewrite" patternSyntax="Wildcard">
					<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="401"/>
      <error statusCode="401" path="401.htm"/>
      <remove statusCode="403"/>
      <error statusCode="403" path="403.htm"/>
      <remove statusCode="404"/>
      <error statusCode="404" path="404.htm"/>
      <remove statusCode="405"/>
      <error statusCode="405" path="405.htm"/>
      <remove statusCode="406"/>
      <error statusCode="406" path="406.htm"/>
      <remove statusCode="412"/>
      <error statusCode="412" path="412.htm"/>
      <remove statusCode="500"/>
      <error statusCode="500" path="500.htm"/>
      <remove statusCode="501"/>
      <error statusCode="501" path="501.htm"/>
      <remove statusCode="502"/>
      <error statusCode="502" path="502.htm"/>
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
    <!-- <staticContent>
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent> -->
  </system.webServer>
</configuration>
